.cover__subtitle {
    padding: 0px 16px 33px 16px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* or 114% */

    text-align: center;

    color: #FFFFFF;
}
/* @media screen and (min-width:768px) {
    .cover__subtitle{
        padding: 0 204px 115px 204px;
        font-size: 18px;
        line-height: 22px;
    }
} */