.footer__copyright {
  margin: 0;
  list-style-type: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height, or 100% */
  color: #FFFFFF;
}

@media screen and (min-width:768px) {
  .footer__copyright {
    margin-left: auto;
    align-self: center;
  }
}