.intro {
  /* margin: auto; */
  padding-bottom: 64px;
  /* max-width: 320px; */
}

@media screen and (min-width: 768px) {
  .intro {
    padding-bottom: 88px;
    /* max-width: 768px; */
  }
}

@media screen and (min-width: 1024px) {
  .intro {
    padding-bottom: 92px;
    /* max-width: 1024px; */
  }
}