.cover__background{
    background: linear-gradient(rgba(42, 44, 47,0.3), rgba(42, 44, 47,0.3)), url("../../../images/cover-trains.jpg");
    background-size: 100vw;
    background-repeat: no-repeat;
    background-color: rgba(42, 44, 47,0.3);
}
