.footer__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 48px;
  display: grid;
  row-gap: 32px;
}

@media screen and (min-width:768px) {
  .footer__list {
    padding: 0;
    display: flex;
    column-gap: 18px;
  }
}